
body, html {
    height:100%;
    overflow: hidden;
    background: #cccccc;
}

.txt {
    //font-family:Montserrat-SemiBold;
    font-size:20px;
    color:#555;
    line-height:1.5
}

.test {
    color:blue;
    font-size: 50px;
}

.vertical-center {
    width: 100%;
    height: 100%;
    margin: 10% auto 10% auto;
}

.login-container {
    background: #FFFFFF;
    padding: 50px;
    border-radius: 25px
}

@media (min-width: 992px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 700px;
    }
}

@media(max-width: 991px){

    .container {
        max-width: 500px;
    }
}
