.p-info, .s-info {
    margin: 20px;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.form-section {
    margin-top: 50px;
}

.su-btn {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    display: inline-block;
    padding-top:25px;
    padding-right:20px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    //border: 1px solid #ccc;
    //box-sizing: border-box;
}