html, body{
    background: #f0f0f0;
}

.side-nav{
    background:#d2d4d6;
}

.content{
    background: #FFFFFF;
}

.main {
    margin-top: 50px;
}

ul {
    list-style-type: none;

}
li a{
    color: #4d4d4d;
}
li a:hover{
    color: #3366ff;
    text-decoration: none;
}

.sub-title{
    font-weight: bold;
    font-size: 20px;
}

.welcome{
    margin-top: 20px;
}

.active{
    color: #3366ff
}

.menu-title{
    font-size: 20px;
    font-weight: bold;
}

h4{
    margin-top: 20px;
}

.p-info {
    margin: 20px;
}

form {
    margin-bottom: 30px;
}