html{
    background: #f0f0f0;
    height: 100%;
}

body{
    //background: #f0f0f0;
    min-height: 100%;
}

.side-nav{
    background:#d2d4d6;
}

.content{
    background: #FFFFFF;

}

.main {
    margin:50px 0 auto 0;
    min-height:100%;
}

ul {
    list-style-type: none;

}
li a{
    color: #4d4d4d;
}
li a:hover{
    color: #3366ff;
    text-decoration: none;
}

.sub-title{
    font-weight: bold;
    font-size: 20px;
}

.welcome{
    margin-top: 20px;
}

.active{
    color: #3366ff
}

.menu-title{
    font-size: 20px;
    font-weight: bold;
}

h4{
    margin-top: 20px;
}

.p-info {
    margin: 20px;
}

form {
    margin-bottom: 30px;
}

.login-flash{
    background: #3dd43d;
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}