<footer class="footer mt-auto py-3 bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <h3>Products</h3>
                <ul>
                    <li><a href="/BTONE">BT One</a></li>
                    <li><a href="/CB-01">CB-01</a></li>
                    <li><a href="/IEM2X">IEM2X</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Legacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Careers</h3>
                <ul>
                    <li><a href="#">Job openings</a></li>
                    <li><a href="#">Employee success</a></li>
                    <li><a href="#">Benefits</a></li>
                </ul>
            </div>
                <p class="copyright">STATUSAUDIO © 2020</p>
            </div>
        </div>
    </div>
</footer>