<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     <!-- Brand -->
     <a class="navbar-brand" href="/">LLS</a>

     <!-- Links -->
     <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
         </li>

         <!-- Dropdown -->
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Debug!</a>
             <div class="dropdown-menu">
                 <a class="dropdown-item" href="/cart">Cart</a>
                 <a class="dropdown-item" href="/testAddItem">Item adding test</a>
                 <a class="dropdown-item" href="/checkoutoptions">checkout_options</a>
                 <a class="dropdown-item" href="/guestcheckout">guest checkout </a>
             </div>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="/loginMenu">Login</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="">Userpage</a>
         </li>
     </ul>
</nav>