{% extends 'adminBase.html' %}

{% block content %}
    <h1 class="display-4">Sale Report</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Stock</th>
                <th></th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for item in ItemList %} <!-- This is to loop through all your objects in your database -->
                <tr>
                    <td>{{ item.get_id() }}</td> <!-- display Object attribute -->
                    <td>{{ item.get_name() }}</td>
                    <td>{{ item.get_cost() }}</td>
                    <td>{{ item.get_stock() }}</td>
                    <td><a href="/updateItem/{{ item.get_id() }}" class="btn btn-warning">Update</a></td>
                    <td>
                        <form action="{{ url_for('removeItem', id=item.get_id()) }}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}