{% extends 'base.html' %}

{% block title %}
    BT ONE
{% endblock %}

{% block content %}
    <section>
        <div style="text-align: center;background-color: #f5f5f5;"><img class="img-fluid"
                                                                        src="../static/img/STATUS_product-block_btone-jetblack.jpg"
                                                                        style="height: 500px;"></div>
        <div style="padding-bottom: 10px;background-color: #f5f5f5;">
            <button class="btn btn-primary" type="button"
                    style="width: 100px;height: 60px;background-color: #0c0809;color: white;margin: auto;text-align: center;line-height: 1em;">
                Buy
            </button>
        </div>
    </section>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="150" data-aos-once="true"
         style="background-color: #222222;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;height: 360px;"><img class="rounded img-fluid"
                                                                                     src="../static/img/Status-Audio_HD1-BT_Jetblack_Main-07.jpg"
                                                                                     style="height: 340px;padding-top: 20px;">
                </div>
                <div class="col-md-6" style="color: white;text-align: left;">
                    <p style="color: rgb(255,255,255);position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        Bleeding-edge Bluetooth 5.0. technology provides quick pairing, with a bulletproof low latency
                        connection. Translation: they just work.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="350" data-aos-once="true"
         style="background-color: #080302;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <h1 style="padding-top: 5em;color: rgb(255,255,255);"><strong>BT One</strong></h1>
                    <h2 style="text-align: center;color: rgb(255,255,255);">On-Ear Wireless Bluetooth Headphones</h2>
                </div>
                <div class="col-md-4" style="line-height: 500px;text-align: center;height: 500px;"><img
                        class="rounded img-fluid"
                        src="../static/img/STATUS_about-block_prynce_9c20daf2-2a5e-49a4-8c96-8ffce6976b81.jpg"></div>
                <div class="col-md-4" style="text-align: left;">
                    <p style="color: rgb(255,255,255);position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        Premium sound and&nbsp;minimalist cool at a category-defining price point. For music lovers who
                        are
                        ready to feel the difference.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="100" data-aos-once="true"
         style="background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="rounded img-fluid"
                                                                       src="../static/img/STATUS_features-block_btone_studio-model_a3c77f17-7e1f-4d9c-9c54-f4054a22846c.jpg">
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <p style="position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);color: rgb(88,88,88);">
                        We’ve focused on what matters: premium materials married with timeless design elements.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
