{% extends 'base.html' %}

{% block title %}
    CB-01
{% endblock %}

{% block content %}
    <section>
        <div style="text-align: center;background-color: #f1f1f1;"><img class="img-fluid"
                                                                        src="../static/img/Status-Audio_CB-1_Black_Main-05_grande.jpeg">
        </div>
        <div style="padding-bottom: 10px;background-color: #f1f1f1;">
            <button class="btn btn-primary border rounded" data-bs-hover-animate="pulse" type="button"
                    style="width: 100px;height: 60px;background-color: #0c0809;color: white;margin: auto;text-align: center;line-height: 1em;">
                Buy
            </button>
        </div>
    </section>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="100" data-aos-once="true"
         style="background-color: #222222;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="img-fluid"
                                                                       src="../static/img/STATUS_about-block_sound-b.jpg"
                                                                       style="height: 360px;"></div>
                <div class="col-md-6" style="color: white;text-align: left;">
                    <p style="color: rgb(255,255,255);position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        50 mm drivers reproduce audio without additive bass, mid-range, or highs. A neutral sound
                        signature for professional monitoring.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="100" data-aos-once="true"
         style="background-color: #080302;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <h1 style="padding-top: 5em;color: rgb(255,255,255);">CB-01</h1>
                    <h2 style="text-align: center;color: rgb(255,255,255);">Closed Back Studio Monitors</h2>
                </div>
                <div class="col-md-4" style="line-height: 500px;text-align: center;height: 500px;"><img
                        class="rounded img-fluid" src="../static/img/71-uZ9rp30L._AC_SL1080_.jpg"></div>
                <div class="col-md-4" style="text-align: left;">
                    <p style="color: rgb(255,255,255);position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">
                        Meet the new studio workhorse. Designed for audio professionals who make their living with their
                        craft and demand absolute sonic neutrality and the utmost clarity.</p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="350" data-aos-delay="100" data-aos-once="true"
         style="background-color: #f9f9f9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="img-fluid"
                                                                       src="../static/img/STATUS_features-block_cb1_4_f607a23d-b79e-499e-b974-50343da074c7-2.jpg">
                </div>
                <div class="col-md-6" style="text-align: left;">
                    <p style="position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);color: rgb(88,88,88);">
                        Meet the new studio workhorse. Designed for audio professionals who make their living with their
                        craft and demand absolute sonic neutrality and the utmost clarity.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

