{% extends 'base2.html' %}

{% block title %} Delivery Management System{% endblock %}

{% block content %}
<div class="container">
    <h2> Delivery Management System </h2>
    <hr>
    <div class="row">
        <div class="col-sm-12"><a href="/adminorderhistory"> Order History </a></div>
    </div>
    <div class="row">
        <div class="col-sm-12"><a href="/scheduleddeliveries"> Scheduled Shipment </a></div>
    </div>
    <div class="row">
        <div class="col-sm-12"><a href="#"> Return Shipment </a></div>
    </div>
</div>
{% endblock %}