{% extends "base.html" %}{% block title %}Delivery Appoint System - Create Delivery{% endblock %}{% block content %}
    {% from "includes/_formhelper.html" import render_field %}<h1 class="display-4">Create delivery appointment</h1>
    <form method="POST" action="">
        <div class="form-group">{{ render_field(form.orderID, class="form-control") }}</div>
        <div class="form-group">{{ render_field(form.orderDate, class="form-control") }}</div>
        <div class="form-group">{{ render_field(form.receiverName, class="form-control") }}</div>
        <div class="form-group">{{ render_field(form.deliveryType, class="form-control") }}</div>
        <div id="prof">
            <div class="form-group">{{ render_field(form.remarks, class="form-control") }}</div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/></form>{% endblock %}