{% extends "base_no_footer.html" %}
{% block title %} Guest Checkout {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div style="padding-bottom: 3vw;">

</div>
<form method="POST" action="">
<div class="container col-md-10">
    <div class="card">
        <div class="card-header" style="background-color: rgb(33,37,41);">
            <h5 class="mb-0" style="color: rgb(245,245,247);">Payment Options</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p style="text-align: center;">Enter your details below.</p>
                </div>
            </div>
            <div class="whitespace"></div>
            <hr />
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p>Contact information</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.email_address, class="border rounded border-dark shadow-sm", style="width: 100%;padding-left: 1%;") }}</div>
            </div><br/><br/>
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p>Shipping Information</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.full_name, class="border rounded border-dark shadow-sm", style="width: 100%;padding-left: 1%;") }}</div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.address, class="border rounded border-dark shadow-sm", style="width: 100%;padding-left: 1%;") }}</div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.countries, class="border rounded border-dark shadow-sm", style="width: 100%;padding-left: 1%;") }}</div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.city, class="border rounded border-dark shadow-sm", style="width: 100%;padding-left: 1%;") }}</div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto">{{ render_field(form.postal_code, class="form-control txt") }}</div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto"><a class="btn btn-primary border rounded border-white" role="button" style="background-color: rgba(255,0,0,0);color: rgb(0,0,0);" href="/checkoutoptions"><strong><span style="text-decoration: underline;">&lt; Return</span></strong></a>
                    <input value="Payment" type="submit" style="width: 25%;color: #f5f5f7;background: linear-gradient(#42a1ec,#0070c9);float: right;" name="submit_button" class="btn btn-primary bg-primary border rounded border-white button-selected"/>
<!--                        <a class="btn btn-primary bg-primary border rounded border-white button-selected" role="button" style="width: 25%;color: #f5f5f7;background: linear-gradient(#42a1ec,#0070c9);float: right;" href="/payment">Payment</a>-->

                </div>
            </div>
        </div>
    </div>
</div>
</form>
<!--PayPal API-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var CREATE_PAYMENT_URL  = 'http://127.0.0.1:5000/paypalpayment';
    var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/execute';

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {
                console.log(res.success)
                location.replace("/paymentstate")
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
{% endblock %}
