{% extends 'base.html' %}

{% block title %}
IEM 2X
{% endblock %}

{%  block content %}
    <section>
        <div style="text-align: center;background-color: #f1f1f1;"><img class="img-fluid" src="../static/img/Status-Audio_IEM-2X_Jetblack_Main-03.jpg" style="height: 500px;"></div>
        <div style="padding-bottom: 10px;background-color: #f1f1f1;"><button class="btn btn-primary border rounded" type="button" style="width: 100px;height: 60px;background-color: #0c0809;color: white;margin: auto;text-align: center;line-height: 1em;">Buy</button></div>
    </section>
    <div style="background-color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="img-fluid" src="../static/img/STATUS_features-block_iem2x_driver.jpg" style="height: 360px;"></div>
                <div class="col-md-6" style="color: white;text-align: left;">
                    <p style="color: gray;position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">We combine a 9mm dynamic driver with a balanced armature driver — technology found in professional in-ear monitors and hearing aids.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #080302;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <h1 style="padding-top: 5em;color: rgb(255,255,255);"><strong>IEM 2X</strong></h1>
                    <h2 style="text-align: center;color: rgb(255,255,255);">Dual Driver Micro Buds</h2>
                </div>
                <div class="col-md-4" style="line-height: 500px;text-align: center;height: 500px;"><img class="rounded img-fluid" src="../static/img/STATUS_features-block_iem2x_male-model.jpg"></div>
                <div class="col-md-4" style="text-align: left;">
                    <p style="color: rgb(255,255,255);position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);">Combining the fidelity of an in-ear monitor with the convenience of an earbud. Audiophile&nbsp;sound has never been more convenient, comfortable, and versatile.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="img-fluid" src="../static/img/Status-Audio_IEM-2X_Jetblack_Main-01.jpg"></div>
                <div class="col-md-6" style="text-align: left;">
                    <p style="position: absolute;margin: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);color: black!important;">Understated design meets refined acoustics — for wherever the day takes you.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}