{% extends 'base.html' %}

{% block title %}
    StatusAudio
{% endblock %}

{% block content %}
    <div style="background-image: url('../static/img/STATUS_about-flat-products-edit-mobile_7aeeae39-3131-4b53-a368-ed2198c0b474.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;height: 500px;background-color: #eef2f3;background-size: 80%;text-align: center;"></div>
    <div style="background-color: #000000;color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <p style="padding-top: 3em;">"I was blown away by the quality"</p><img class="img-fluid"
                                                                                           src="../static/img/Business-Insider-logo-small.png">
                </div>
                <div class="col-md-6" style="text-align: center;padding-top: 3em;">
                    <p>"Might be the best headphones under $100"</p><img class="img-fluid"
                                                                         src="../static/img/oie_HTyAuzRYmN29.png"
                                                                         style="max-width: 70%;"></div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container" style="padding-bottom: 70px;">
            <div class="intro">
                <h2 class="text-center">Featured Products</h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid"
                                                                     src="../static/img/STATUS_product-block_btone-jetblack.jpg"
                                                                     style="height: 250px;"></a>
                    <h3 class="name">BT One</h3>
                    <p class="description">Premium sound and&nbsp;minimalist cool at a category-defining price point.
                        For music lovers who are ready to feel the difference.</p><a class="action" href="/BTOne"><i
                            class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid"
                                                                     src="../static/img/Status-Audio_CB-1_Black_Main-05.jpeg"></a>
                    <h3 class="name">CB-01</h3>
                    <p class="description">Meet the new studio workhorse. Designed for audio professionals who make
                        their living with their craft and demand absolute sonic neutrality and the utmost clarity.</p><a
                            class="action" href="/CB-01"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div
                        class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid"
                                                                        src="../static/img/Status-Audio_IEM-2X_Jetblack_Main-01.jpg"></a>
                    <h3 class="name">IEM 2X</h3>
                    <p class="description">Combining the fidelity of an in-ear monitor with the convenience of an
                        earbud. Audiophile&nbsp;sound has never been more convenient, comfortable, and versatile.</p><a
                            class="action" href="/IEM2X"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <div style="background-image: url('../static/img/STATUS_about-block_prynce_9c20daf2-2a5e-49a4-8c96-8ffce6976b81.jpg');height: 500px;background-repeat: no-repeat;background-size: cover;background-position: center;"></div>
{% endblock %}
