{% extends 'base.html' %}

{% block title %} Order List {% endblock %}
{% block content %}
<div class="container">
    <h1> My Orders </h1>
</div>
<div class="container">
    <div id="firstSection">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <span id="orderNo"> Order #{{ current_order.get_orderID() }} </span> <!-- to be stored -->
                </div>
                <div class="col-xs-4">
                    <!-- to be stored -->
                    <img src="../static/img/StandardDelivery.png" id="standardDeliveryIcon"
                         alt="StandardDelivery.png"> {{ current_order.get_deliveryType() }} Delivery
                </div>
            </div>
        </div>
        <p> Placed on {{ current_order.get_order_date() }} </p>
        <p> Paid by {{current_order.get_paymentMethod()}} </p>
        <span id="authCode"> Authorisation Code {{ current_order.get_authCode()] }} </span>
        <span id="ETA"> ETA: {{ current_order.get_eta()] }} </span>
    </div>
    <div id="secondSection" class="container">
        <hr>
        <a href="orderlog"> <span id="orderlogButton">
      Order Log
      </span> </a>
    </div>
    <div id="thirdSection" class="container">
        <div>
            <img id="deliveryStageVisual" src="../static/img/{{ orderstage }}.PNG">
        </div>
    </div>
    <div id="fourthSection">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table id="orderList">
            <th> Order List</th>
            <tr>
                <td><img src=" ../static/img/g233.png" width="100px"></td>
                <td> G-Headset</td>
                <td> $49.99</td>
                <td> Qty:1</td>
            </tr>
            <tr>
                <td><img src="../static/img/cloudwireless.png" width="100px"></td>
                <td> X-Headset</td>
                <td> $69.99</td>
                <td> Qty:2</td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div id="fifthSection">
        <table id="shippingaddresstable">
            <th> Shipping Address</th>
            <tr>
                <td> {{ current_order.get_username() }}</td>
            </tr>
            <tr>
                <td> {{ current_order.get_address() }}</td>
            </tr>
            <tr>
                <td> {{ current_order.get_userAddressFloor() }}</td>
            </tr>
            <tr>
                <td> {{ current_order.get_userPostalCode() }}</td>
            </tr>

        </table>
        <table id="totalsum">
            <tr>
                <th> Total Summary</th>
            </tr>
            <tr>
                <td> Subtotal</td>
                <td> {{ "$" + current_order.get_subtotal() }}</td>
            </tr>
            <tr>
                <td> Shipping Fee</td>
                <td> {{ "$" + current_order.get_shippingFee() }}</td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
                <td>
                    <hr>
                </td>
            </tr>
            <tr>
                <td> Total</td>
                <td><span id="totalsumamt"> {{ "$" + current_order.get_total() }}</span></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <br>
    <br>
    <br>
</div>
{% endblock %}