{% extends "base_no_footer.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div style="padding-bottom: 3vw;">

</div>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header" style="background-color: rgb(33,37,41);">
            <h5 class="mb-0" style="color: rgb(245,245,247);">Payment Method</h5>
        </div>
        <div style="padding-bottom: 3vw;">

        </div>
        <div class="row">
            <div style="display: block; margin: 0 auto;" id="paypal-button"></div>
        </div>
        <div style="padding-bottom: 3vw;">

        </div>
<!--        <div class="card-body">-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col">-->
<!--                    <p style="margin-bottom: 0px;">Card Number</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col"><input type="text" style="width: 100%;" /></div>-->
<!--            </div><br />-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col">-->
<!--                    <p style="margin-bottom: 0px;">Expiration Date</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col"><input type="text" style="width: 45%;float: left;" placeholder="MM" /><input type="text" style="width: 45%;float: right;" placeholder="YYYY" /></div>-->
<!--            </div><br />-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col">-->
<!--                    <p style="margin-bottom: 0px;">Security Code</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col"><input type="text" style="width: 45%;float: left;" placeholder="CVV" /></div>-->
<!--            </div><br />-->
<!--            <div class="row col-md-6 mx-auto">-->
<!--                <div class="col"><a class="btn btn-primary bg-primary border rounded border-white button-selected" role="button" style="color: #f5f5f7;background: linear-gradient(#42a1ec,#0070c9);float: right;" href="/paymentstate">Pay</a></div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!--PayPal API-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var CREATE_PAYMENT_URL  = 'http://127.0.0.1:5000/paypalpayment';
    var EXECUTE_PAYMENT_URL = 'http://127.0.0.1:5000/execute';

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {
                console.log(res.success)
                location.replace("/paymentstate")
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
{% endblock %}
