{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <h1 class="display-4">Products</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for item in ItemList %} <!-- This is to loop through all your objects in your database -->
                <tr>
                    <td><img height='50px' width='50px' alt="product-image"
                             src="{{ url_for('static', filename='files/' + item.get_file()) }}"></td>
                    <td>{{ item.get_id() }}</td> <!-- display Object attribute -->
                    <td>{{ item.get_name() }}</td>
                    <td>{{ item.get_cost() }}</td>
                    <td>{{ item.get_quantity() }}</td>
                    <td><a href="/cart/{{ item.get_id() }}" class="btn btn-warning">Buy</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
