{% extends 'base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
<form method="POST" action="">
    <h1 class="display-4">Products</h1>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for item in ItemList %} <!-- This is to loop through all your objects in your database -->
                <tr>
                    <td><img height='50px' width='50px' alt="product-image"
                             src="{{ url_for('static', filename='files/' + item.get_file()) }}"></td>
                    <td>{{ item.get_id() }}</td> <!-- display Object attribute -->
                    <td>{{ item.get_name() }}</td>
                    <td>{{ item.get_cost() }}</td>
                    <td>{{ item.get_quantity() }}</td>
                    <td>
                        <button type="submit" name="item_button"
                                value="{{ item.get_id() }},{{ item.get_name() }},{{ item.get_cost() }}"
                                class="btn btn-danger">Add to cart
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</form>
{% endblock %}
