{% extends 'base.html' %}

{% block title %} Delivery Management System{% endblock %}

{% block content %}
    <script>
    </script>
    <div class="container">
        <h1> Scheduled Deliveries </h1>
        <span> &nbsp </span>
        <a href="deliveryappointment"> Add Appointment </a>
        <span> &nbsp </span>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <span> Order ID  </span>
            </div>
            <div class="col-sm-2">
                <span> Delivery Date </span>
            </div>
            <div class="col-sm-2">
                <span> Recipient Name </span>
            </div>
            <div class="col-sm-2">
                <span> Delivery Type </span>
            </div>
            <div class="col-sm-2">
                <span> Remarks </span>
            </div>
            <div class="col-sm-1">
                <span></span>
            </div>
            <div class="col-sm-1">
                <span></span>
            </div>
        </div>
        <br>
        <hr>
    </div>
    {% for i in d %}
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <span>{{ d[i].get_orderID() }}</span>
                </div>
                <div class="col-sm-2">
                    <span> {{ d[i].get_orderDate() }}  </span>
                </div>
                <div class="col-sm-2">
                    <span> {{ d[i].get_receiver_name() }} </span>
                </div>
                <div class="col-sm-2">
                    <span> {{ d[i].get_deliveryType() }}  </span>
                </div>
                <div class="col-sm-2">
                    <span onclick="alert({{ d[i].get_remarks() }});"> {{ d[i].get_remarks() }} </span>
                </div>
                <div class="col-sm-1">
                    <span> <a href="orderlog"> Update </a> </span>
                </div>
                <div class="col-sm-1">
                    <span> <a href="orderlog"> Delete </a> </span>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}