{% extends 'base.html' %}

{% block title %} Track My Orders{% endblock %}

{% block content %}
    <script>
        function visitPage() {
            var v = document.getElementById("sortOption").value;
            if (v === "Latest") {
                window.location = '#';
            }

            if (v === "Oldest") {
                window.location = '/trackordersOldest';
            }
        }
    </script>
    <div class="container">
        <h1> My Orders </h1>
        <span id="sortOrders"> Sort By </span>
        <label>
            <select id="sortOption" onchange="visitPage();">
                <option value="Latest">Latest</option>
                <option value="Oldest">Oldest</option>
            </select>
        </label>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <span> Date </span>
            </div>
            <div class="col-sm-9">
                <span> Order ID </span>
            </div>
        </div>
        <br>
        <hr>
    </div>
    {% for i in displayed_orders %} <!-- loop through each order in the order storage and display them -->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <span>{{ i }}</span>
                </div>
                <div class="col-sm-9">
                    <span> <a href="orderlog.html/{{ str(i) }}"> Order #{{ displayed_orders[i] }} </a> </span>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}