{% extends "main_Base.html" %}
{% block title %} Guest Checkout {% endblock %}

{% block content %}
<div style="padding-bottom: 3vw;">

</div>

<div class="container col-md-10">
    <div class="card">
        <div class="card-header" style="background-color: rgb(33,37,41);">
            <h5 class="mb-0" style="color: rgb(245,245,247);">Payment Options</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p style="text-align: center;">Express Checkout</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 mx-auto"><button class="btn btn-primary border-dark" type="button" style="float: left;width: 45%;background-color: rgba(0,0,0,0.8);color: #f5f5f7;">Apple Pay</button><button class="btn btn-primary" type="button" style="float: right;width: 45%;">PayPal</button></div>
            </div>
            <div class="whitespace"></div>
            <hr />
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p style="text-align: center;">Or</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p>Contact information</p>
                </div>
            </div>
            <div class="row">
                {% if user %}
                <div class="col col-md-6 mx-auto"><input type="text"class="border rounded border-dark shadow-sm" style="width: 100%;padding-left: 1%;" placeholder="Email Address" /></div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto">
                    <p>Shipping Address</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 mx-auto"><input type="text" value="{{ user.get_first_name() }}  {{ user.get_last_name() }}" class="border rounded border-dark shadow-sm" style="width: 100%;padding-left: 1%;" placeholder="Full Name" /></div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto"><input type="text" value="{{ user.get_country() }} {{ user.get_address() }} {{ user.get_unit_number() }} {{ user.get_postal_code() }}" class="border rounded border-dark shadow-sm" style="width: 100%;padding-left: 1%;" placeholder="Address" /></div>
            </div><br />
            <div class="row">
                <div class="col col-md-6 mx-auto"><input type="text" value="{{ user.get_city() }}" class="border rounded border-dark shadow-sm" style="width: 100%;padding-left: 1%;" placeholder="City" /></div>
            </div><br />
                {% endif %}
            <div class="row">
                <div class="col col-md-6 mx-auto"><a class="btn btn-primary border rounded border-white" role="button" style="background-color: rgba(255,0,0,0);color: rgb(0,0,0);" href="/checkoutoptions"><strong><span style="text-decoration: underline;">&lt; Return</span></strong></a>
                    <a
                        class="btn btn-primary bg-primary border rounded border-white button-selected" role="button" style="width: 25%;color: #f5f5f7;background: linear-gradient(#42a1ec,#0070c9);float: right;" href="/payment">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
