{% extends "base_no_footer.html" %}
{% block title %} Cart {% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}" >
{% endblock %}

{% block content %}
<div style="padding-bottom: 3vw;">

</div>

<form method="POST" action="">
<div class="container col-md-9">
    <div class="card">
        <div class="card-header shadow" style="background-color: rgb(33,37,41);">
            {% if total_cost %}
            <h5 class="mb-0" style="color: rgb(245,245,247);text-align: center;">Your bag total is S${{"%0.2f"| format(total_cost|float) }}</h5>
            {% else %}
            <h5 class="mb-0" style="color: rgb(245,245,247);text-align: center;">Your bag is empty</h5>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="background-color: #f2f2f2;">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Cost</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in item %}
                                <tr>
                                    <td>{{ i.get_name() }}</td>
                                    <td>S${{"%0.2f"|format(i.get_cost() * i.get_quantity()|float)}}</td>
                                    <td>{{ i.get_quantity() }}</td>
                                    <td>
                                        <button type="submit" name="cart_button" value="+{{ i.get_name() }}"
                                                class="btn btn-danger cart_buttons">+</button>
                                        <button type="submit" name="cart_button" value="-{{ i.get_name() }}"
                                                class="btn btn-danger cart_buttons">-</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><br />
            <hr/>
            <div class="container col-md-8" style="float: right;">
                <div class="row">
                    <div class="col">
                        <p class="col-md-4" style="text-align: left;float: left;"><strong>Subtotal</strong></p>
                        {% if total_cost %}
                        <p class="col-md-4" style="text-align: right;float: right;">
                            S${{"%0.2f"|format(total_cost|float)}}</p>
                        {% else %}
                        <p class="col-md-4" style="text-align: right;float: right;">-</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="col-md-4" style="text-align: left;float: left;"><strong>Shipping</strong></p>
                        <p id="shippingfee" class="col-md-4" style="text-align: right;float: right;">S$5.99</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="float: left;"><a class="btn btn-primary border-white promocodebutton" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="padding-left: 15px;background-color: rgba(0,123,255,0);margin-bottom: 16px;color: rgb(0,0,0);padding-top: 0px;padding-bottom: 0px;"><strong>Promo Code <span style="text-decoration: underline;">V</span></strong></a>
                            <div
                                class="collapse" id="collapse-1"><input type="text" style="margin-left: 15px;" /><button class="btn btn-primary border rounded border-white" type="button" style="  background-color: rgba(255,0,0,0);
  color: rgb(0,0,0);
"><strong><span style="  text-decoration: underline;
">Apply</span></strong></button></div>
                    </div>
                    <p id="promocode" class="col-md-4" style="text-align: right;float: right;">NONE</p>
                </div>
            </div>
            <div class="row">
                <div class="col"><a class="btn btn-primary bg-primary border rounded border-white button-selected" role="button" style="width: 25%;color: #f5f5f7;background: linear-gradient(#42a1ec,#0070c9);float: right;" href="/checkoutoptions">Checkout</a></div>
            </div>
        </div>
    </div>
</div>
</div></form>
{% endblock %}