<!-- NEED TO DO BOOSTRAP-->
{% extends "main_Base.html" %}
{% block title %}User Login{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}" >
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    <div class="container-fluid main">
        <div class="row">
            <div class=" col-md-2 side-nav offset-md-1 ">
                {% if user %}
                <p class="welcome"> Welcome {{ user.get_username() }}</p>
                <hr>
                {% endif %}
                <p class="sub-title">Account</p>
                <ul>

                    <li class="nav-item">
                        {% if menu == 1 %}
                            <a class="active" href="">Profile</a>
                        {% else %}
                            <a href="{{ url_for('users', choice=1, username=user.get_username()) }}">Profile</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if menu == 2 %}
                            <a class="active" href="">Address</a>
                        {% else %}
                            <a href="{{ url_for('users', choice=2, username=user.get_username()) }}">Address</a>
                        {% endif %}
                    </li>
                </ul>

                <hr>
                <p class="sub-title">Others</p>

            </div>
            {%  if menu == 1 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>Profile</h4>
                    

                </div>
            {%  elif menu == 2 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>Address</h4>

                </div>
            {% elif menu == 3 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>THIS IS MENU THREE</h4>

                </div>
            {%  endif %}
        </div>
    </div>


{% endblock %}
