<!-- NEED TO DO BOOSTRAP-->
{% extends "base_no_footer.html" %}
{% block title %}User Page{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}" >
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    <div class="container-fluid main">
        <div class="row">
            <div class=" col-md-2 side-nav offset-md-1 ">
                {% if user %}
                <p class="welcome"> Welcome {{ user.get_username() }}</p>
                <hr>
                {% endif %}
                <p class="sub-title">Account</p>
                <ul>

                    <li class="nav-item">
                        {% if menu == 1 %}
                            <a class="active" href="">Profile</a>
                        {% else %}
                            <a href="{{ url_for('users', choice=1, username=user.get_username()) }}">Profile</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if menu == 2 %}
                            <a class="active" href="">Change Password</a>
                        {% else %}
                            <a href="{{ url_for('users', choice=2, username=user.get_username()) }}">Change Password</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if menu == 3 %}
                            <a class="active" href="">Address</a>
                        {% else %}
                            <a href="{{ url_for('users', choice=3, username=user.get_username()) }}">Address</a>
                        {% endif %}
                    </li>
                </ul>

                <hr>
                <p class="sub-title">Others</p>
                <ul>
                    <li><a href="{{ url_for('users', choice=3, username=user.get_username()) }}">Track My Order</a></li>
                    <li><a href="{{ url_for('users', choice=3, username=user.get_username()) }}">Order History</a></li>
                </ul>

            </div>
            {%  if menu == 1 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>Profile</h4>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class="flashes login-flash">
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}

                    <form novalidate method="POST" action="">
                        <div class="border border-secondary">
                            <div class="p-info"> <!-- Form Elements -->

                                <div class="row"> <!-- Name -->
                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.first_name, class="form-control txt", value=user.get_first_name()) }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.last_name, class="form-control txt", value=user.get_last_name()) }}
                                        </div>
                                    </div>
                                </div> <!-- End of Name -->

                                <div class="container su-btn">
                                    <input type="Submit" name="submit" value="Update Profile" class="btn btn-secondary"/>
                                </div>

                            </div> <!-- End of Form Elements -->
                        </div> <!-- End of Border -->

                    </form>



                </div>
            {%  elif menu == 2 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>Change Password</h4>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class="flashes login-flash">
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}

                    <form novalidate method="POST" action="">
                        <div class="border border-secondary">
                            <div class="p-info"> <!-- Form Elements -->

                                <div class="row"> <!-- Password -->
                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.password, class="form-control txt") }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.confirm_pass, class="form-control txt") }}
                                        </div>
                                    </div>
                                </div> <!-- End of Password -->

                                <div class="container su-btn">
                                    <input type="Submit" name="submit" value="Change Password" class="btn btn-secondary"/>
                                </div>

                            </div> <!-- End of Form Elements -->
                        </div> <!-- End of Border -->

                    </form>

                </div>
            {% elif menu == 3 %}
                <div class=" content col-xd col-md-7 offset-md-1">
                    <h4>Address</h4>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class="flashes login-flash">
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                    <form novalidate method="POST" action="">
                        <div class="border border-secondary">
                            <div class="p-info"> <!-- Form Elements -->

                                <div class="row"> <!-- Country -->
                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.country, class="form-control txt", value=user.get_country()) }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.city, class="form-control txt", value=user.get_city()) }}
                                        </div>
                                    </div>
                                </div> <!-- End of Country -->

                                <div class="form-group"> <!-- Street Address -->
                                {{ render_field(form.address, class="form-control txt", value=user.get_address()) }}
                                </div> <!-- End of Street Address -->

                                <div class="row"> <!-- Detailed -->
                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.unit_number, class="form-control txt", value=user.get_unit_number()) }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                        {{ render_field(form.postal_code, class="form-control txt", value=user.get_postal_code()) }}
                                        </div>
                                    </div>

                                </div> <!-- End of Detailed -->

                                <div class="container su-btn">
                                    <input type="Submit" name="submit" value="Update Address" class="btn btn-secondary"/>
                                </div>

                            </div> <!-- End of Form Elements -->
                        </div> <!-- End of Border -->

                    </form>
                </div>
            {%  endif %}
        </div>
    </div>


{% endblock %}
